<nav class="navbar navbar-expand-lg bg-body-tertiary shadow mb-4">
    <div class="container-fluid">
        <a class="navbar-brand text-primary" href="{% url 'dashboard' %}">Apps de {{ user.first_name }}</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" href="/configuracion/">Ajustes</a>
                <a href="{% url 'logout' %}" class="nav-link">Cerrar Sesión</a>
            </div>
        </div>
    </div>
</nav>

{% block content_page %}

{% endblock %}