<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <title>Contracts</title>
</head>
<body>

{% extends 'layouts/Navigation.html' %}

{% block content_page %}
    <div class="container">
        <h1 class="display-3">
            Contract management
        </h1>
        <div class="col-12 col-md-4 mb-3 mb-md-3">
            <div class="card">
                <div class="card-body d-flex flex-column">
                    <h3 class="card-title">New Contract</h3>
                    <p class="flex-grow-1">Register a new contract for a employe.</p>
                    <a href="{% url 'newContract' %}" class="btn btn-primary mt-auto">Go to form</a>
                </div>
            </div>
        </div>
    <hr />

    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>
{% endblock %}

</body>
</html>